*{
    margin: 0;
    padding: 0;
    color:  black;
    font-family: sans-serif;
}

h1{
    text-transform: uppercase;
    font-size: 1.2em;
}

li{ 
    padding: 5px 0;
    font-size: 1.5;
}

p{
    font-size: 1.25em;
}

a{
    color: white;
    text-decoration: underline;
    user-select: auto;
}

body{
    background-color: whitesmoke;
    overflow-y: auto;
}

.contact{
    padding: 20px 50px;
    position: relative;
    top: 50px;
    border-top: 2px solid #184E69;
}

.name{
    text-align: center;
    position: relative;
    top: 50px;
}

.name h3{
    color: white;
}


.pfp{
    position: relative;
    left: 75px;
    top: 30px;
    overflow: hidden;

    width: 160px;
    display: flex;
    justify-content: center;
    z-index: 2;
    border: 2px solid white;
    border-radius: 360px;
}

img{
    width: 160px;
}

.contact h1{
    padding-bottom: 20px;
}

.technical h1{
    padding-bottom: 20px;
}

.keyskills h1{
    padding-bottom: 20px;
}

.keyskills{
    border-top: 2px solid #184E69;
    padding: 20px 50px;
    position: relative;
    top: 1px;
}

.othercontainer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 550px;
    width: 750px;
    height: 1100px;
    flex-wrap: wrap;
}

#one{
    position: relative;
    border-bottom: 2px solid #013048;
    border-top: 2px solid #013048;
    padding: 10px 0;
}

#two{
    top: -40px;
    position: relative;
    border-bottom: 2px solid #013048;
    padding: 10px 0;
}

#tree{
    top: -80px;
    position: relative;
    border-bottom: 2px solid #013048;
    padding: 10px 0;
}

#for{
    top: -120px;
    position: relative;
    border-bottom: 2px solid #013048;
    padding: 10px 0;
}

#fiv{
    top: -160px;
    position: relative;
    border-bottom: 2px solid #013048;
    padding: 10px 0;
}

.experience{
    position: relative;
    top: -300px;
    height: 400px;
}

.achievements{
    position: relative;
    height: 500px;

    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.achievements p{
    font-size: 1em;
}

.achievements h2{
    font-size: 0.9em;
}

.achievements a{
    color: black;
}

.experience h1{
    padding-bottom: 20px;
    font-size: 2em;
}

.summary{
    position: relative;
    top: 30px;
}

.summary h1{
    padding-bottom: 20px;
    font-size: 2em;
}

.technical{
    position: relative;
    top: 35px;
    border-top: 2px solid #184E69;
    padding: 20px 50px;
}

.container{
    width: 320px;
    height: 1100px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    left: 0px;
    background-color: #013048;
    padding: 0 20px;

    color: white;
}

.container h1{
    color: white;
}
.container ul li{
    color: white;
}
