.abel-regular {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    border: 0;

    font-family: "Abel", sans-serif;
    list-style: none;

    text-decoration: none;
    user-select: none;

    color: #FEFFFF;
}

body{
    display: flex;
    flex-direction: column;

    background-image: linear-gradient(120deg,#212327, #060911);
}

.FirstPage{
    display: grid;
    width: 100vw;
    position: absolute;
}

.logo{
    display: flex;
    align-items: center;
    position: sticky;
    font-size: 6vw;
}

.logo img{
    padding-left: 45vw;
    align-items: center;
    width: 12vw;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #FEFFFF;
    height: 8vh;
}

.title, .subtitle{
    font-size: 20vw;
    text-transform: uppercase;
    font-family: sans-serif;
    margin: auto;
    top: 20vh;
    position: relative;
    max-width: fit-content;
}

.subtitle h2{
    font-size: 5vh;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 5vw;
}

.year{
    writing-mode: vertical-rl;
}

.emotion{
    writing-mode: vertical-lr;
}

.head-footer{
    position: relative;
    top: 50vh;
    margin-right: auto;
    margin-left: auto;

    font-size: 2vh;
}

.menu-buttons{
    position: absolute;
    display: flex;
    color: #060911;

    gap: 5vw;

    right: 15vw;
    top: 0vh; /* when doing animation set top to 10vh as the end point / end goal of the animation to make it look like it's sliding down */

    visibility: hidden;
}

.menu-buttons a{
    top: 10vh;
}
